/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto+Condensed:wght@300;400;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #161722;
}

/* .flex {
  border: 1px solid red;
} */

h1 {
  line-height: 5.125rem;
}

p {
  font-size: 16px;
}

/* .bool {
  border: 1px solid green;
} */
.benefit-card {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  width: 18rem;
  height: 24rem;
  padding: 2rem;
  background: top cover no-repeat;
  margin-bottom: 8rem;
}
.benefit-card h4 {
  color: #ffff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.btn-love {
  padding: 24px, 64px, 24px, 64px;
  /* border: 1px solid green; */
  width: 205px;
  height: 60px;
}

.love-img {
  border-radius: 30px;
}

.love-img:nth-child(2) {
  height: 512px;
}
