/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto+Condensed:wght@300;400;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #161722;
}

/* .flex {
  border: 1px solid red;
} */

h1 {
  line-height: 5.125rem;
}

p {
  font-size: 16px;
}

/* .bool {
  border: 1px solid green;
} */
.benefit-card {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  width: 18rem;
  height: 24rem;
  padding: 2rem;
  background: top cover no-repeat;
  margin-bottom: 8rem;
}
.benefit-card h4 {
  color: #ffff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.btn-love {
  padding: 24px, 64px, 24px, 64px;
  /* border: 1px solid green; */
  width: 205px;
  height: 60px;
}

.love-img {
  border-radius: 30px;
}

.love-img:nth-child(2) {
  height: 512px;
}

/* How to set linear gradient for a text */
.join-text {
  background-image: linear-gradient(45deg, #a54e2b, #dc9853);
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date {
  display: flex;
  align-items: center;
  justify-items: center;
}

.address {
  width: 200px;
  height: 48px;
  margin-top: 1rem;
}

.address p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.btn-join {
  height: 64px;
}

.event {
  height: 512px;
  width: 1280px;
}

.check {
  width: 435px;
}

.events-wrapper {
  width: 302px;
}

footer p,
footer span,
footer li {
  opacity: 0.75;
  font-family: 12px;
}

footer h6 {
  font-size: 16px;
}

footer li {
  margin-bottom: 24px;
}

.serve {
  background: url("./images/agedGrandCathedral.svg"),
    linear-gradient(#cd5423, #ffd0a0) center no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  height: 36rem;
}

.quote {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.serve-wrapper {
  backdrop-filter: blur(1.2px);
}

.serve-card {
  width: 368px;
}

/* .server-card-wrapper {
  height: 480px;
} */
